@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
body {
  /*margin: 0;*/
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*comp 1*/
#header{
  width:100%;
  height:80vh;
}
#header h1{
  margin:0 0 10px 0;
  font-size:45px;
  font-weight:700;
  color:black;

}
#header h5{
  color:#484848;
  font-size:24px;
}
#header .btn-get-started{
  font-weight:500;
  font-size:16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition:0.5s;
  color:#3498db;
  border:2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background: #3498db;
  color: #fff;
}
.header-img{
  text-align:right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@-webkit-keyframes up-down{
  0%{
    transform: translateY(5px);

  }
  100%{
    transform: translateY(-5px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(5px);

  }
  100%{
    transform: translateY(-5px);
  }
}

/*navigation*/
*{
  font-family: 'Mulish', sans-serif;
  margin:0;
  padding: 0;
  box-sizing  :border-box;
  
}
.navbar{
  background-color: yellow ;
}

.navbar-brand{
  font-size:1.9rem;
  color:blueviolet;
}
.navbar a{
  font-size  :1.3rem;
  text-transform : capitalize;
}

.menu_active{
  font-weight  :bold;
  border-bottom  : 1px solid blue;
}
.navbar a:hover{
  color:skyblue;
}

/*comp 2 */
.content{
  height:60%;
  width:80%;
display:flex;
flex-direction:row;
margin: 0 auto;
padding:1em;
justify-content: space-evenly;
border:1px solid black;
}

.img-cmp2{
  height:20em;
  width:10em;

 margin-right: 1em;
}
/*compII*/
.rect{
  height:50%;
  /*width:100%;*/
display:flex;
flex-direction:row;
margin: 3em  auto 0em auto;
background-color:whitesmoke;
padding:1em 0em 1em 1em;
justify-content: space-evenly;
}
.rect-col{
  font-size:20px;
  padding:1em;
  text-align:center;
  color:rgb(2, 31, 87);
}
.App{
  width:80%;
  text-align:center;
  margin: 3em auto ;
  font-family:'Times New Roman', Times, serif;
}
/*comp1 */

/* contact form css */
.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.contact-form{
  display: grid;
  grid-template-columns: auto auto;
   }

#contact-section{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(../Images/contact.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100% ;
  padding-bottom: 2%;
}
#contact-section .container h2{
  text-align: center;
   text-decoration: underline;
    /* text-decoration-color:red; */
    text-underline-position: under;
    color: rgb(238, 235, 235);
    letter-spacing: 2px;
    
}
#contact-section .container p{
  text-align: center; 
  width: 70%; 
  margin-left: auto;
   margin-right: auto; 
   padding-bottom: 3%;
   color: #fff;
   letter-spacing:3px;
}

  .contact-input input{
  padding: 8px;
  margin:10px;
  margin-left: 15%;
  
  width: 70%;
  background-color:rgba(136, 133, 133, 0.5);
  color: white;
  border: none;
  outline:none;
}

.contact-input input::placeholder {
  color: white;
}
.contact-textarea textarea::placeholder
{
  color: white;
}

.contact-textarea textarea{
padding: 10px;
margin: 10px;  
width: 70%;
margin-left: 15%;
background-color:rgba(136, 133, 133, 0.5);
color: white;
border: none;
outline:none;
}

.submit{
  width: 40%;
  background: none;
  padding: 4px;
  outline: none;
   /* border: 1px solid #fff;
  color: #fff; */
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 3%;
  border:2px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
 }

 .submit:hover{
       border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
 }
 .btnStart{
   width:40%;
    }

 /*about */
 
 #abt{
  width:100%;
  height:60vh;
}


#abt .container h2{
  text-align: center;
   text-decoration: underline;
    /* text-decoration-color:red; */
    text-underline-position: under;
    color: black;
    letter-spacing: 2px;
    
}
#abt .container p{
  text-align: center; 
  width: 70%; 
  margin-left: auto;
   margin-right: auto; 
   padding-bottom: 3%;
   color:black;
   letter-spacing:3px;
}
@media (max-width: 375px){
.resp{
  
  width:150%;
  margin:0 auto;
}
.respdiv{
  margin-left:7em;
  height:110%;
  
}
.respimg{
  height:140%;
  
  width:120%;
}

}

 @media (max-width: 768px){

  #contact-section .contact-form{
         display: block;
         width: 100%;
         text-align: center;
       }
       .rect{
        width:130%;
      }
       #contact-section .submit{
 
         width: 75%;
       }
       .contact-input input{
         width:110%;
         margin-left: 0%; 
       }
       .contact-textarea textarea{
         width:110%;
         height:50%;
         margin-left: 0%; 
       }
       .img-fluid animated{
         height:70%;
       }
       .resp{
         text-align: center;
         margin-top:1em;
         margin-bottom:2em;
         border:2px sollid darkblue;
                }
                .respdiv{
                  height:20%;
                  margin-top:16em;
                  
                  padding-top:0em;
                }
                .respimg{
                 
                  height:20%;
                  padding-top:1em;
                }
         .rect{
           margin-top:17em;
         }
         .App{
margin-left:6em;
         }
   }
@media (max-width: 991px){
  .navbar-brand{
    font-size:1.5rem;
    color:blueviolet;
    
  }
   
  .menu_active{
    font-weight  :bold;
    border-bottom  : none;
  }
}