@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap"); 
.ctgrs{
    width:100%;
    background-color:whitesmoke;
    margin-bottom:0px;
}
.first{
    margin-top:5em;
    width:100%;
    background-color:whitesmoke ;
    display:flex;
    padding:2em;
}
.second{
    width:40%;
    padding-left:2em;
    font-family: 'Amiri', serif;
    font-weight:bold;
    font-size:2.65em;
    padding-top:0.5em;
    color:darkblue;
       
}
.third{
    text-align: center;
    padding:2em 5em 3em 5em;
    font-size:1.25em;
    font-weight:bold;
    font-family: 'Amiri', serif;
}
    